pytest==8.4.2
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
playwright==1.55.0
pyee==13.0.0
greenlet==3.2.4
typing_extensions==4.15.0
setuptools==80.9.0
wheel==0.45.1
recurring-ical-events==3.8.0
x-wr-timezone==2.0.1
click==8.1.8
